@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Playfair Display', serif;
    
}
input,select{
    display:block;
}
.type input,label{
display: inline-block;
}
label{
    text-shadow:2px 0px 0px rgba(31, 31, 31, 0.493);
}
option{
    color: black;
}
#date{
    color: black;
}

#Soumettre{
    background-color: #c55518;
    text-decoration: none;
    padding:5px 10px;
    border-radius: 16px;
    margin-left: 20%;
    margin-top: 15px;
    border:2px white;

}
img{
    /* height: 100%; */
    float: left;
    width: 80%;
    background-size:cover;
    z-index: 1;
    display: none;
}
body{
    display: flex;
    /* background-image: url(../library.jpg); */
    justify-content: center;
}
/*****************************/
h2 {
    top: 0%;
    text-shadow:2px 0px 0px rgba(31, 31, 31, 0.493);

}

form {
    background-color: #c2a476c4;
    padding: 20px 1px 20px 28%;
    border-radius: 10%;    
    margin-top: 10%;

}
table {
    text-align: center;
    text-shadow: 2px 0px 0px rgb(31 31 31 / 14%);
    border-radius: 7px;
    margin-top: 8%;
    float: right;
    margin-left: 4%;
    width: 90%;
    border: 2px solid #ffffff;
    background-color: #c2a476c4;
}
button {
    display: flex;
    float: left;
    margin-top: 7%;
    margin-left: 26%;
    padding: 4px 0%;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #c55518;
    border: 3px solid #efeae1;
    border-radius: 65vh 223px;
    box-shadow: 3px 5px 0px #ffb54a99;
    width: 50%;
}
#print p {
    margin-left: 19%;
    padding-top: 10vh;
    display: flex;
    float: left;
}